<!DOCTYPE html>
<html lang="en">
<footer>
    <div class="footersvg" >
        <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
            .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            }
            @keyframes pathAnim-0{
            0%{
            d: path("M 0,600 L 0,112 C 115.43540669856458,85.98086124401914 230.87081339712915,59.961722488038276 335,73 C 439.12918660287085,86.03827751196172 531.9521531100479,138.13397129186603 614,133 C 696.0478468899521,127.86602870813397 767.3205741626793,65.50239234449761 843,70 C 918.6794258373207,74.49760765550239 998.7655502392345,145.85645933014354 1099,164 C 1199.2344497607655,182.14354066985646 1319.6172248803828,147.07177033492823 1440,112 L 1440,600 L 0,600 Z");
            }
            25%{
            d: path("M 0,600 L 0,112 C 102.62200956937801,122.66028708133972 205.24401913875602,133.32057416267943 301,138 C 396.755980861244,142.67942583732057 485.645933014354,141.377990430622 569,132 C 652.354066985646,122.62200956937801 730.1722488038278,105.16746411483255 828,113 C 925.8277511961722,120.83253588516745 1043.6650717703349,153.95215311004785 1149,158 C 1254.3349282296651,162.04784688995215 1347.1674641148325,137.02392344497608 1440,112 L 1440,600 L 0,600 Z");
            }
            50%{
            d: path("M 0,600 L 0,112 C 104,86.36363636363637 208,60.727272727272734 306,76 C 404,91.27272727272727 496,147.45454545454544 592,168 C 688,188.54545454545456 787.9999999999999,173.45454545454544 892,168 C 996.0000000000001,162.54545454545456 1103.9999999999998,166.72727272727275 1196,159 C 1288.0000000000002,151.27272727272725 1364,131.63636363636363 1440,112 L 1440,600 L 0,600 Z");
            }
            75%{
            d: path("M 0,600 L 0,112 C 90.95693779904306,119.51196172248804 181.91387559808612,127.02392344497608 288,137 C 394.0861244019139,146.97607655502392 515.3014354066986,159.41626794258372 599,158 C 682.6985645933014,156.58373205741628 728.8803827751194,141.31100478468898 811,132 C 893.1196172248806,122.68899521531101 1011.177033492823,119.3397129186603 1122,117 C 1232.822966507177,114.6602870813397 1336.4114832535884,113.33014354066985 1440,112 L 1440,600 L 0,600 Z");
            }
            100%{
            d: path("M 0,600 L 0,112 C 115.43540669856458,85.98086124401914 230.87081339712915,59.961722488038276 335,73 C 439.12918660287085,86.03827751196172 531.9521531100479,138.13397129186603 614,133 C 696.0478468899521,127.86602870813397 767.3205741626793,65.50239234449761 843,70 C 918.6794258373207,74.49760765550239 998.7655502392345,145.85645933014354 1099,164 C 1199.2344497607655,182.14354066985646 1319.6172248803828,147.07177033492823 1440,112 L 1440,600 L 0,600 Z");
            }
            }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#0c46f7"></stop><stop offset="95%" stop-color="#13b1f7"></stop></linearGradient></defs><path d="M 0,600 L 0,112 C 115.43540669856458,85.98086124401914 230.87081339712915,59.961722488038276 335,73 C 439.12918660287085,86.03827751196172 531.9521531100479,138.13397129186603 614,133 C 696.0478468899521,127.86602870813397 767.3205741626793,65.50239234449761 843,70 C 918.6794258373207,74.49760765550239 998.7655502392345,145.85645933014354 1099,164 C 1199.2344497607655,182.14354066985646 1319.6172248803828,147.07177033492823 1440,112 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0"></path><style>
            .path-1{
            animation:pathAnim-1 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            }
            @keyframes pathAnim-1{
            0%{
            d: path("M 0,600 L 0,262 C 77.33014354066987,271.1483253588517 154.66028708133973,280.29665071770336 259,280 C 363.33971291866027,279.70334928229664 494.688995215311,269.9617224880383 590,257 C 685.311004784689,244.03827751196175 744.5837320574161,227.85645933014357 848,235 C 951.4162679425839,242.14354066985643 1098.976076555024,272.6124401913875 1205,281 C 1311.023923444976,289.3875598086125 1375.511961722488,275.6937799043062 1440,262 L 1440,600 L 0,600 Z");
            }
            25%{
            d: path("M 0,600 L 0,262 C 82.5263157894737,244.69856459330143 165.0526315789474,227.39712918660285 265,232 C 364.9473684210526,236.60287081339715 482.3157894736843,263.11004784689 578,276 C 673.6842105263157,288.88995215311 747.6842105263158,288.1626794258373 830,291 C 912.3157894736842,293.8373205741627 1002.9473684210527,300.2392344497608 1106,296 C 1209.0526315789473,291.7607655502392 1324.5263157894738,276.88038277511964 1440,262 L 1440,600 L 0,600 Z");
            }
            50%{
            d: path("M 0,600 L 0,262 C 117.23444976076553,285.1961722488038 234.46889952153106,308.39234449760767 334,290 C 433.53110047846894,271.60765550239233 515.3588516746412,211.6267942583732 592,220 C 668.6411483253588,228.3732057416268 740.0956937799043,305.10047846889955 830,308 C 919.9043062200957,310.89952153110045 1028.2583732057417,239.9712918660287 1133,220 C 1237.7416267942583,200.0287081339713 1338.870813397129,231.01435406698565 1440,262 L 1440,600 L 0,600 Z");
            }
            75%{
            d: path("M 0,600 L 0,262 C 120.65071770334927,282.3444976076555 241.30143540669854,302.688995215311 331,286 C 420.69856459330146,269.311004784689 479.4449760765551,215.58851674641144 556,208 C 632.5550239234449,200.41148325358856 726.9186602870813,238.9569377990431 838,266 C 949.0813397129187,293.0430622009569 1076.8803827751196,308.5837320574162 1180,306 C 1283.1196172248804,303.4162679425838 1361.55980861244,282.7081339712919 1440,262 L 1440,600 L 0,600 Z");
            }
            100%{
            d: path("M 0,600 L 0,262 C 77.33014354066987,271.1483253588517 154.66028708133973,280.29665071770336 259,280 C 363.33971291866027,279.70334928229664 494.688995215311,269.9617224880383 590,257 C 685.311004784689,244.03827751196175 744.5837320574161,227.85645933014357 848,235 C 951.4162679425839,242.14354066985643 1098.976076555024,272.6124401913875 1205,281 C 1311.023923444976,289.3875598086125 1375.511961722488,275.6937799043062 1440,262 L 1440,600 L 0,600 Z");
            }
            }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#0c46f7"></stop><stop offset="95%" stop-color="#13b1f7"></stop></linearGradient></defs><path d="M 0,600 L 0,262 C 77.33014354066987,271.1483253588517 154.66028708133973,280.29665071770336 259,280 C 363.33971291866027,279.70334928229664 494.688995215311,269.9617224880383 590,257 C 685.311004784689,244.03827751196175 744.5837320574161,227.85645933014357 848,235 C 951.4162679425839,242.14354066985643 1098.976076555024,272.6124401913875 1205,281 C 1311.023923444976,289.3875598086125 1375.511961722488,275.6937799043062 1440,262 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1"></path><style>
            .path-2{
            animation:pathAnim-2 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
            }
            @keyframes pathAnim-2{
            0%{
            d: path("M 0,600 L 0,412 C 111.27272727272728,424.3157894736842 222.54545454545456,436.63157894736844 309,426 C 395.45454545454544,415.36842105263156 457.0909090909091,381.7894736842105 560,372 C 662.9090909090909,362.2105263157895 807.090909090909,376.2105263157894 906,384 C 1004.909090909091,391.7894736842106 1058.5454545454545,393.36842105263156 1140,397 C 1221.4545454545455,400.63157894736844 1330.7272727272727,406.3157894736842 1440,412 L 1440,600 L 0,600 Z");
            }
            25%{
            d: path("M 0,600 L 0,412 C 92.133971291866,413.53110047846894 184.267942583732,415.06220095693783 290,404 C 395.732057416268,392.93779904306217 515.0622009569379,369.2822966507177 607,357 C 698.9377990430621,344.7177033492823 763.4832535885167,343.8086124401914 853,357 C 942.5167464114833,370.1913875598086 1057.0047846889952,397.48325358851673 1159,409 C 1260.9952153110048,420.51674641148327 1350.4976076555024,416.25837320574163 1440,412 L 1440,600 L 0,600 Z");
            }
            50%{
            d: path("M 0,600 L 0,412 C 70.06698564593302,419.0143540669857 140.13397129186603,426.0287081339713 248,433 C 355.86602870813397,439.9712918660287 501.53110047846883,446.89952153110045 603,428 C 704.4688995215312,409.10047846889955 761.7416267942584,364.3732057416268 846,359 C 930.2583732057416,353.6267942583732 1041.5023923444976,387.60765550239233 1145,403 C 1248.4976076555024,418.39234449760767 1344.248803827751,415.1961722488038 1440,412 L 1440,600 L 0,600 Z");
            }
            75%{
            d: path("M 0,600 L 0,412 C 113.30143540669857,403.933014354067 226.60287081339715,395.86602870813397 334,413 C 441.39712918660285,430.13397129186603 542.88995215311,472.46889952153106 616,465 C 689.11004784689,457.53110047846894 733.8373205741628,400.25837320574163 814,396 C 894.1626794258372,391.74162679425837 1009.7607655502393,440.4976076555024 1120,452 C 1230.2392344497607,463.5023923444976 1335.1196172248804,437.7511961722488 1440,412 L 1440,600 L 0,600 Z");
            }
            100%{
            d: path("M 0,600 L 0,412 C 111.27272727272728,424.3157894736842 222.54545454545456,436.63157894736844 309,426 C 395.45454545454544,415.36842105263156 457.0909090909091,381.7894736842105 560,372 C 662.9090909090909,362.2105263157895 807.090909090909,376.2105263157894 906,384 C 1004.909090909091,391.7894736842106 1058.5454545454545,393.36842105263156 1140,397 C 1221.4545454545455,400.63157894736844 1330.7272727272727,406.3157894736842 1440,412 L 1440,600 L 0,600 Z");
            }
            }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#0c46f7"></stop><stop offset="95%" stop-color="#13b1f7"></stop></linearGradient></defs><path d="M 0,600 L 0,412 C 111.27272727272728,424.3157894736842 222.54545454545456,436.63157894736844 309,426 C 395.45454545454544,415.36842105263156 457.0909090909091,381.7894736842105 560,372 C 662.9090909090909,362.2105263157895 807.090909090909,376.2105263157894 906,384 C 1004.909090909091,391.7894736842106 1058.5454545454545,393.36842105263156 1140,397 C 1221.4545454545455,400.63157894736844 1330.7272727272727,406.3157894736842 1440,412 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2"></path></svg>
            
            
    </div>
</footer>    

</html>