html, body{
    height: 100%;
    margin: 0;
}

.item{
   
  display: flex;
  align-items: center;

}

h5{
    text-align: center;
}

.icon {
    height: 20px;
  }

.iconbutton {
    margin-left: 0px;
    margin-right: 20px;
    border: none;
    background: none;
  }

.day{
  border-radius: 5px;
  border: 2px solid;
  padding : 10px;
  margin: 10px;
} 

.custom-checkbox{margin-left: 10px; }
  /*
  input{
    background-color: transparent;
    border:transparent;
    border-bottom: black 2px; 
  }*/