html, body{
    height: 100%;
    margin: 0;
}

.container-fluid{
  min-height:100%;
  
}

.item{
   
  display: flex;
  align-items: center;

}

h5{
    text-align: center;
}

.icon {
    height: 20px;
  }

.iconbutton {
    border: none;
    background: none;
    margin: 0;
  }

.day{
  border-radius: 5px;
  border: 2px solid;
  margin-top : 10px;
  margin-bottom: 10px;
  padding-left: 0;
  padding-right: 0;

} 

.custom-checkbox{margin-left: 10px; }
  /*
  input{
    background-color: transparent;
    border:transparent;
    border-bottom: black 2px; 
  }*/

  input{
    border: none;
    border-bottom: 2px solid #000; /* Bottom line color and thickness */
    outline: none;
    background-color: white; 
    margin-left: 7px;
    margin-right: 0;
  }

  .addnewtask{
    margin-left : 30px;
  }